{
	"id": "99eea816-7f46-45d4-aa00-3cf8ebecc0ac",
	"name": "Azure",
	"values": [
		{
			"key": "flotorch_base_url",
			"value": "https://gateway-azure.flotorch.cloud",
			"type": "default",
			"enabled": true
		},
		{
			"key": "flotorch_api_key",
			"value": "",
			"type": "secret",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2025-10-03T04:22:04.714Z",
	"_postman_exported_using": "Postman/11.65.3"
}