{
	"id": "9f85d1b5-f7ce-4220-aa31-6116ed3c395d",
	"name": "GCP",
	"values": [
		{
			"key": "flotorch_base_url",
			"value": "https://gateway-gcp.flotorch.cloud",
			"type": "default",
			"enabled": true
		},
		{
			"key": "flotorch_api_key",
			"value": "",
			"type": "secret",
			"enabled": true
		}
	],
	"_postman_variable_scope": "environment",
	"_postman_exported_at": "2025-10-03T04:22:14.023Z",
	"_postman_exported_using": "Postman/11.65.3"
}